# Visual Studio files
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio cache/options directory
.vs/

# ReSharper
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# SQL Server files
*.mdf
*.ldf

# Visual Studio profiler
*.psess
*.vsp
*.vspx
*.sap

# Visual Studio code coverage results
*.coverage
*.coveragexml

# NuGet Packages
*.nupkg
*.snupkg
**/packages/*
*.nuget.props
*.nuget.targets

# Local development settings
appsettings.Development.json 